name: Sync Labels

on:
  workflow_dispatch:
  push:
    paths:
      - ".github/labels.yml"

jobs:
  sync-labels:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Sync labels
        uses: EndBug/label-sync@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/labels.yml